<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - [traceId=%X{traceId}] %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>